# Node modules
node_modules/

# Environment variables
.env

# Build files
dist/
build/

# Logs
logs/
*.log

# System files
.DS_Store

# Local Environment Config
config.js

# Hardhat Cache
cache/
artifacts/

# VSCode settings
.vscode/

# Ignore Hardhat local node artifacts
hardhat-node/
